img.img{
  display: inline-block;
  border-radius: 100px;
  float: left;
  right: 0px;
  width: 50px;
  height: 50px;
  border: 1px solid #000000;
  padding: 1px;
  margin-right: 10px;
}

p.name{
  margin-left: 68px;
  margin-top: 25px;
}